In [1]:
import pandas as pd
df=pd.read_excel(r'C:\Users\DEVA NANTHAN\Documents\guvi_sales\Sample Data.xls')
df

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Sales Date,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
0,user1,Product1,Initiated,NaN,2022-08-01 04:55:00,2022-07-31,Direct,3999.00,NaN,INR,NaN
1,user2,Product2,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,999.00,NaN,INR,NaN
2,user4,Product3,Initiated,NaN,2022-08-01 03:21:00,2022-07-31,Direct,1999.00,NaN,INR,NaN
3,user6,Product3,Initiated,NaN,2022-08-01 00:56:00,2022-07-31,Direct,1999.00,NaN,INR,NaN
4,user8,Product4,Initiated,NaN,2022-08-01 00:46:00,2022-07-31,Direct,2022.00,NaN,INR,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9509,user7253,Product105,paid,Coupon94,2022-06-01 14:46:00,2022-06-01,Direct,7.92,card,INR,NaN
9510,user7253,Product105,paid,NaN,2022-06-01 12:36:00,2022-06-01,Direct,8.10,card,INR,NaN
9511,user7253,Product105,paid,NaN,2022-06-01 12:31:00,2022-06-01,Direct,7.92,card,INR,NaN
9512,user10657,Product2,paid,NaN,2022-06-01 07:20:00,2022-06-01,Direct,999.00,paylater,INR,NaN
9513,user10658,Product10,refund,NaN,2022-05-28 06:21:00,2022-06-21,Direct,999.00,paylater,INR,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8904 entries, 0 to 9513
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  8904 non-null   object
 1   Product Code             8904 non-null   object
 2   Payment Status           8904 non-null   object
 3   Lead Registered Time     8904 non-null   datetime64[ns]
 4   Sales Date               8904 non-null   datetime64[ns]
 5   Source                   8904 non-null   object
 6   Product Amount with GST  8904 non-null   float64
 7   Currency  Code           8904 non-null   object
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 626.1+ KB

In [3]:
df.isna().sum()

User ID                       0
Product Code                  0
Payment Status                0
Coupon code                8852
Lead Registered Time          0
Sales Date                    0
Source                        0
Product Amount with GST       1
Payment Mode               7784
Currency  Code                0
Transaction Bank           9422
dtype: int64

In [4]:
df=df.drop(columns=['Coupon code','Payment Mode','Transaction Bank'])

In [8]:
df.isna().sum()

User ID                    0
Product Code               0
Payment Status             0
Lead Registered Time       0
Sales Date                 0
Source                     0
Product Amount with GST    0
Currency  Code             0
dtype: int64

In [7]:
df=df[df['Product Amount with GST'].notna()]

In [9]:
df.drop_duplicates(inplace=True)

In [11]:
df = df[df['Product Amount with GST'].notna() & (df['Product Amount with GST'] > 0)]

In [ ]:
Payment Status

In [13]:
df['Payment Status'] = df['Payment Status'].str.lower().str.strip()

In [14]:
df

,User ID,Product Code,Payment Status,Lead Registered Time,Sales Date,Source,Product Amount with GST,Currency Code
0,user1,Product1,initiated,2022-08-01 04:55:00,2022-07-31,Direct,3999.00,INR
1,user2,Product2,initiated,2022-08-01 04:46:00,2022-07-31,Direct,999.00,INR
2,user4,Product3,initiated,2022-08-01 03:21:00,2022-07-31,Direct,1999.00,INR
3,user6,Product3,initiated,2022-08-01 00:56:00,2022-07-31,Direct,1999.00,INR
4,user8,Product4,initiated,2022-08-01 00:46:00,2022-07-31,Direct,2022.00,INR
...,...,...,...,...,...,...,...,...
9509,user7253,Product105,paid,2022-06-01 14:46:00,2022-06-01,Direct,7.92,INR
9510,user7253,Product105,paid,2022-06-01 12:36:00,2022-06-01,Direct,8.10,INR
9511,user7253,Product105,paid,2022-06-01 12:31:00,2022-06-01,Direct,7.92,INR
9512,user10657,Product2,paid,2022-06-01 07:20:00,2022-06-01,Direct,999.00,INR
9513,user10658,Product10,refund,2022-05-28 06:21:00,2022-06-21,Direct,999.00,INR

In [15]:
df.to_excel('cleaned_data.xlsx', index=False)